[Unit]
Description=Check WezTerm's hidden X window count every 10 minutes (#302)

[Timer]
OnBootSec=2min
OnUnitActiveSec=10min
AccuracySec=30s

[Install]
WantedBy=timers.target
